.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  width: 100vw;
  height: 100vh;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.winnerClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

div.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  text-align: center;
  width: 80%;
  min-width: 250px;
  max-width: 350px;
  height: 35%;
  background-image: transparent;
}

.winnerClass-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  text-align: center;
  width: 80%;
  min-width: 290px;
  max-width: 350px;
  height: 35%;
  background-color: transparent;
}

.game-container--element {
  background-color: #5FFBF1;
  border-radius: 8px;
  position: relative;
}

.game-container--element:hover {
  background-color: transparent;
}

.message {
  color: white;
  font-size: 30px;
}
.restart-button {
  padding: 10px;
  border-radius: 8px;
  font-size: 1.6rem;
  margin-top: 50px;
}
.buttons-container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.buttons-container button {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 70px;
  height: 50px;
  font-size: 2rem;
  border-radius: 30px;
  background-color: 86a8e7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
